page-manager-two-seats-plan {
    button.seat{
        border-color: transparent;
        background-color: #ffffff;
        
    }

     button.wheel{
        border-color: transparent;
        background-color: #ffffff;
    }

      ion-buttons{
        .back{
            font-size: 50px;
        }
      
            
    }
    
    button.BookNowButton{
        background-color:#FFA500 ;  

    }

}
