page-manager-three-seats-plan {
    button.seat{
        border-color: transparent;
        background-color: #ffffff;
        width: 100%
    }

     button.wheel{
        border-color: transparent;
        background-color: #ffffff;
    }
}
