<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
<div *ngIf="user == 'c'">
   <ion-card>
    <img src="img/kandy-nightlife-teaser.jpg"/>
    <div class="card-titlec">Kandy</div>
  </ion-card>


  <ion-card>
    <img src="img/Colombo-City-Aerial.jpg"/>
    <div class="card-titlec">Route No 17</div>
    <div class="card-subtitlec">Ticket Reservation System</div>
  </ion-card>

  <ion-card>
    <img src="img/6321241284_5588790d46_n.jpg"/>
    <div class="card-titlec">Dehiwala</div>
  </ion-card>
</div>

<div *ngIf="user == 'f'">
<ion-card>
    <img src="img/sri-lanka-bus-route-17.png"/>
    <div class="card-titlef">Bus Routes</div>
    <div class="card-subtitlef">Tracking</div>
  </ion-card>

  <ion-card>
    <img src="img/maxresdefault.png"/>
    <div class="card-titlef">Bus Details</div>
    <div class="card-subtitlef">Owner details</div>
  </ion-card>

  <ion-card>
    <img src="img/garages (1).png"/>
    <div class="card-titlef">Bus Maintenance</div>
    <div class="card-subtitlef">Service dates</div>
  </ion-card>
</div> 


<div *ngIf="user == 'd'"> 
<h3>Passenger Management</h3>

<ion-card>
<img src="img/bus.jpg"/>
</ion-card>

<ion-item>
<ion-label> Welcome to Catch My Bus App </ion-label>
</ion-item>


<ion-card>
  <ion-item>
    <p>Want to know the nearest bus stop???</p><br>
    <p>Then,</p><br>
    <p>Go to side menu --> Nearest bus stop --> Add your current location</p>  
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <p>Want to search bus on  your way???</p><br>
    <p>Then,</p><br>
    <p>Go to side menu --> Search bus--> Set your starting point and end point --> search</p>  
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <p>Want to know about bus time table???</p><br>
    <p>Then,</p><br>
    <p>Go to side menu --> Bus schedule--> Set your starting point and end point --> search</p>  
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <p>Want to know the bus details???</p><br>
    <p>Then,</p><br>
    <p>Go to side menu --> View bus details--> Add the bus no you want to know about --> search</p>  
  </ion-item>
</ion-card>

</div> 

<div *ngIf="user == 'e'"> 
  
<h3>Driver Management</h3>
 <ion-card>

    <img src="img/bus-1.png"/>


  </ion-card>










       <ion-item *ngFor="let item of DriverDetails | async">
  <ion-label>Driver Name :{{item.FirstName}}  {{item.LastName}} </ion-label>

</ion-item>
     <ion-item *ngFor="let item of DriverDetails | async">
  <ion-label>Bus No : {{item.BusNo}}</ion-label>

</ion-item>  <ion-item>
  <ion-label>Date & Time</ion-label>
  <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="today"></ion-datetime>

</ion-item>  <ion-item>
  <ion-label>Driver Location :Malabe</ion-label>

</ion-item> 

</div>
</ion-content>