page-manager-reservation-token {
ion-card {
    position: relative;
    text-align: center;
    width:50%;
    height:50%;
    font-size:25px;
  }

   button.reserve{
        background-color:#FFA500 ;  

    }
}
