page-manager-view-seat-allocation {
     button.seat{
        border-color: transparent;
        background-color: #ffffff;
        
    }

     button.wheel{
        border-color: transparent;
        background-color: #ffffff;
    }

}
