page-admin-new-routes {
  #map {
    width: 100%;
    height: 100%;
  }

  .op1,.op2,.op3{
    width: 25%;
    height: 25%;
  }
  
  .card-subtitle{
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    font-weight: bold;
    color:black;
  }

}
